
body{
    background-color: rgba(252, 246, 172, 0.781);

}
.container{
    background-color: rgba(252, 246, 172, 0.781);
    font-family: 'Roboto', sans-serif;
    
}
.title{
    background-color: rgba(252, 246, 172, 0.781);
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.col-12{
    background-color: rgba(252, 246, 172, 0.781);
    font-family: 'Roboto', sans-serif;
   
}
.close{
    align-items: center;
    justify-content: end;
    text-align: justify;
}
